<div className="card-body">
    <div className="row">
        <div className="col-md-6">
            <div className="mb-3">
                <label className="form-label" for="exampleInputEmail1">Email address</label>
                <input type="email" className="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                <small id="emailHelp" className="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div className="col-md-6">
            <div className="mb-3">
                <label className="form-label">Text</label>
                <input type="text" className="form-control" placeholder="Text" />
            </div>
        </div>
    </div>
</div>
