/* Tabla */
.table-responsive {
    overflow-x: auto;
    /* Hacer que la tabla sea desplazable horizontalmente en pantallas pequeñas */
}

.table {
    width: 100%;
    /* Asegura que la tabla use todo el ancho disponible */
    table-layout: auto;
    /* Asegura que las columnas se ajusten automáticamente */
}

/* Estilos para los inputs */
.form-control {
    margin-bottom: 15px;
}

/* Estilo para la paginación */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Filtros en móvil */
.accordion-filters {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

/* Estilos en pantallas pequeñas */
@media (max-width: 768px) {

    .col-md-4,
    .col-md-6 {
        width: 100%;
        margin-bottom: 15px;
    }

    .btn-link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .btn-link:hover {
        text-decoration: underline;
    }

    /* Aumentar padding en la tabla para pantallas móviles */
    .table th,
    .table td {
        padding: 12px;
        font-size: 14px;
    }
}