.calendar-container {
    max-width: 100%;
    /* Asegura que use todo el ancho de la pantalla */
    overflow-x: auto;
    /* Habilita el scroll horizontal */
    padding: 10px;
}

.calendar-scroll {
    width: 1200px;
    /* Aumentar el ancho del calendario */
    overflow-x: scroll;
    /* Habilitar scroll horizontal dentro del contenedor */
}

.fc-daygrid-event {
    white-space: nowrap;
    /* Asegura que el texto del evento no se divida en líneas */
}

@media (max-width: 768px) {
    .fc-header-toolbar {
        flex-direction: column;
        align-items: center;
    }

    .fc-daygrid-event {
        font-size: 0.75rem;
    }

    .fc-toolbar-title {
        font-size: 1.2rem;
    }

    .fc-button {
        font-size: 0.85rem;
    }

    .fc-col-header-cell-cushion {
        padding: 5px;
    }

    .fc-daygrid-day {
        padding: 5px;
    }

    .fc-event {
        padding: 2px;
    }
}