/* Tabla */
.table-responsive {
    overflow-x: auto;
    /* Hacer que la tabla sea desplazable horizontalmente en pantallas pequeñas */
}

.table {
    width: 100%;
    /* Asegura que la tabla use todo el ancho disponible */
    table-layout: auto;
    /* Asegura que las columnas se ajusten automáticamente */
}

/* Estilos para los inputs */
.form-control {
    margin-bottom: 15px;
}

/* Estilo para la paginación */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Filtros en móvil */
.accordion-filters {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

/* Estilos en pantallas pequeñas */
@media (max-width: 768px) {

    .col-md-4,
    .col-md-6 {
        width: 100%;
        margin-bottom: 15px;
    }

    .btn-link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        font-size: 1.1rem;
    }

    .btn-link:hover {
        text-decoration: underline;
    }

    /* Aumentar padding en la tabla para pantallas móviles */
    .table th,
    .table td {
        padding: 12px;
        font-size: 14px;
    }
}

.custom-select-asesor {
    background-color: white;
    /* Establece el fondo blanco */
    z-index: 2;
    /* Asegura que el select se superponga correctamente a otros elementos */
    position: relative;
    /* Controla su posicionamiento en la página */
}

.custom-select-asesor .select__control {
    background-color: white !important;
    /* Establece el fondo blanco del control */
    border-color: #ced4da !important;
    /* Asegura que el borde sea visible */
}

.custom-select-asesor .select__menu {
    background-color: rgba(4, 4, 4, 0.607) !important;
    /* Asegura que el menú desplegable también tenga fondo blanco */
}


   /* neeito colcoar un color de fondo a los panes   */
.dtsp-searchPanes{
  background-color: #1d1d1d44;
}

.dtsp-searchPanes {
    background-color: "#000" !important;
}